[group:{{ groupName }}]
programs={{ programs . "" }}
{{ range .GetUniqueExtraGroups }}
[group:{{ printf "%s-%s" groupName . }}]
programs={{ programs tasks .  }}
{{ end }}

{{- range . }}
[program:{{ .PrefixedName }}]
directory = {{ .Directory }}
autorestart = true
autostart = true
user = {{ .User }}
command = {{ .Command }}
environment = {{ envs . }}
{{ end }}