[group:{{ groupName }}]
programs={{ join .GetAllPrefixedId "," }}
{{ range .GetUniqueExtraGroups }}
[group:{{ printf "%s-%s" groupName . }}]
programs={{ join ((tasks.GetTasksInGroup  .).GetAllPrefixedId)  ","  }}
{{ end }}

{{- range . }}
[program:{{ .PrefixedId }}]
directory = {{ .Directory }}
autorestart = true
autostart = true
user = {{ .User }}
command = {{ .Command }}
environment = {{ envs . }}
{{ end }}