[group:{{ groupName }}]
programs={{ programs .  }}

{{ range . }}
[program:{{ .PrefixedName }}]
directory = {{ .Directory }}
autorestart = true
autostart = true
user = {{ .User }}
command = {{ .Command }}
environment = {{ envs . }}
{{ end }}